@model FieldViewModel

<form asp-action="Add"
      asp-controller="Fields">

    <input hidden asp-for="ModelId"/>

    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="formm-control" asp-for="Name" />
    </div>

    <div class="form-group">

        <div class="radio">
            <label>
                <input type="radio"
                       asp-for="FieldType"
                       value="0"
                       checked>
                Short Text
            </label>
        </div>

        <div class="radio">
            <label>
                <input type="radio"
                       asp-for="FieldType"
                       value="1">
                Long Text
            </label>
        </div>

        <div class="radio">
            <label>
                <input type="radio"
                       asp-for="FieldType"
                       value="2">
                Number
            </label>
        </div>

        <div class="radio">
            <label>
                <input type="radio"
                       asp-for="FieldType"
                       value="3">
                File
            </label>
        </div>

        <button type="submit"
                class="btn btn-primary">
            Add Field
        </button>
    </div>
</form>