@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Content Pal</h1>
    <p>
        A modular, reusable and headless CMS that allows you to structure and create your content the way you want to.
    </p>
</div>